*.egg-info
venv/
__pycache__/
*.pyc
*.pyo
.env
.env_db
logs/
*.log
data/
checkpoints/
.cache/
out/
prompts/
build/
dist/
hypotheses/
*.pkl
*.pt
config.yaml
model_cache/
wandb/
unsloth_compiled_cache/
*secret*
models
*cache*
*checkpoint*
backup
*.csv
weaviate_data/
weaviate_backups/
.ipynb_checkpoints/
